{
  "openapi": "3.0.0",
  "info": {
    "title": "AGI Workforce API",
    "version": "1.0.0",
    "description": "OpenAI-compatible inference gateway, the billing and device-authorization endpoints the first-party apps use, and the workspace administration API.\n\nThe complete API base URL is `https://agiworkforce.com/api`. The API host also exposes the OpenAI-compatible aliases `/v1/chat/completions`, `/v1/models`, `/v1/embeddings`, `/v1/audio/transcriptions`, and `/v1/credits/balance` at `https://api.agiworkforce.com`, plus `/health`. Other operations use the complete API base URL above.\n\nThree credential types authenticate here and they are NOT interchangeable. An AGI API key (`sk_live_\u2026`/`sk_test_\u2026`, issued under Settings > API Keys) works only on the operations that declare `ApiKeyAuth`. A workspace API key (`agiadm_\u2026`, issued in the workspace console under Audit > Workspace API keys) works only on the workspace administration operations that declare `WorkspaceApiKeyAuth`. Every other operation needs a session bearer token. Each operation states which one it takes. Rate limits are published in `docs/standards/api-rate-limits.md`.",
    "contact": {
      "name": "AGI Workforce Support",
      "email": "contact@agiworkforce.com",
      "url": "https://agiworkforce.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://agiworkforce.com/api",
      "description": "Production API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Session bearer token, a Clerk session JWT or a first-party device token. Browser requests may present the session cookie instead. AGI API keys are rejected wherever this is the only accepted scheme."
      },
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "AGI API key (`sk_live_\u2026` / `sk_test_\u2026`) issued in the developer console at /developers. Scopes are chosen at issue time; an operation lists the one it needs in `x-agi-api-key-scope` and answers 403 `insufficient_scope` without it."
      },
      "WorkspaceApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key (`agiadm_\u2026`) issued in the workspace console under Audit > Workspace API keys. It acts for the workspace rather than for a person, keeps working after the member who issued it leaves, and needs an active Team or Enterprise plan. The issuer picks its scopes, only from permissions they hold, and an optional expiry; neither can change after issue, and the key can be revoked at any time. An operation names the scope it needs in `x-agi-workspace-scope` and answers 403 without it, listing the scopes the key carries. A revoked, expired or unknown key answers 401, and a call from outside the workspace's IP allow list answers 403 `IP_NOT_ALLOWED`. Writes made with a key need no CSRF token."
      }
    },
    "schemas": {
      "CheckoutRequest": {
        "type": "object",
        "required": ["plan", "billingInterval"],
        "properties": {
          "plan": {
            "type": "string",
            "enum": ["basic", "pro", "max", "max_15x", "team"],
            "description": "The subscription plan to checkout"
          },
          "billingInterval": {
            "type": "string",
            "enum": ["monthly", "yearly"],
            "description": "Billing cycle interval. Individual plans (basic, pro, max, max_15x) are sold monthly only and refuse yearly with a 400; team is sold monthly or yearly."
          },
          "seats": {
            "type": "integer",
            "minimum": 2,
            "maximum": 999999,
            "description": "Licensed seat count. Required for per-seat plans (team) and rejected for per-account plans. Charged as the Stripe line-item quantity."
          }
        }
      },
      "UpgradePreviewRequest": {
        "type": "object",
        "required": ["plan", "billingInterval"],
        "properties": {
          "plan": {
            "type": "string",
            "enum": ["basic", "pro", "max", "max_15x", "team"],
            "description": "The plan to move the active subscription to. For team, the same plan with a larger seats value adds seats."
          },
          "billingInterval": {
            "type": "string",
            "enum": ["monthly", "yearly"],
            "description": "Must match the current subscription's cadence when the target plan sells that cadence; a mismatch answers 400."
          },
          "seats": {
            "type": "integer",
            "minimum": 2,
            "maximum": 999999,
            "description": "Licensed seat count for team. Seats can only increase; added seats keep the renewal date and are charged for the rest of the current period."
          },
          "promotionCode": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9]+$",
            "description": "Optional customer-facing promotion code, checked with Stripe before it is quoted."
          }
        }
      },
      "UpgradePreview": {
        "type": "object",
        "description": "The exact charge an upgrade would make. A tier upgrade starts a new billing period today: the new plan's price minus a credit for the unused time on the current plan. A seat increase keeps the renewal date and charges only for the rest of the period.",
        "properties": {
          "plan": {
            "type": "string"
          },
          "billingInterval": {
            "type": "string",
            "enum": ["monthly", "yearly"]
          },
          "currency": {
            "type": "string"
          },
          "amountDueNowCents": {
            "type": "integer",
            "description": "What is charged today, after tax and any balance."
          },
          "charge": {
            "type": "object",
            "description": "Itemized receipt: lineItems, subtotalCents, discountCents, taxCents, totalCents, appliedBalanceCents, totalDueTodayCents, creditToBalanceCents and renewsAt."
          },
          "grandfatheredNotice": {
            "type": "string",
            "nullable": true
          },
          "recurringAmountCents": {
            "type": "integer",
            "description": "What renews each period after the upgrade, before tax."
          },
          "seats": {
            "type": "integer"
          },
          "promotion": {
            "type": "object",
            "nullable": true,
            "description": "The applied promotion code and its discount, when one was sent."
          },
          "replacesScheduledChange": {
            "type": "boolean"
          },
          "previewToken": {
            "type": "string",
            "description": "Signed quote to send to POST /upgrade. It binds the plan, cadence, seats, promotion and proration time."
          }
        }
      },
      "UpgradeCheckoutRequired": {
        "type": "object",
        "description": "The account has no paid subscription to credit, so the plan must be bought through POST /checkout. `checkout` quotes that purchase.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string",
                "enum": ["checkout_required"]
              }
            }
          },
          "checkout": {
            "type": "object",
            "properties": {
              "amountDueNowCents": {
                "type": "integer"
              },
              "currency": {
                "type": "string"
              },
              "recurringAmountCents": {
                "type": "integer"
              },
              "seats": {
                "type": "integer"
              },
              "trial": {
                "type": "object",
                "nullable": true
              }
            }
          }
        }
      },
      "UpgradeRequest": {
        "type": "object",
        "required": ["plan", "billingInterval", "previewToken"],
        "properties": {
          "plan": {
            "type": "string",
            "enum": ["basic", "pro", "max", "max_15x", "team"]
          },
          "billingInterval": {
            "type": "string",
            "enum": ["monthly", "yearly"]
          },
          "seats": {
            "type": "integer",
            "minimum": 2,
            "maximum": 999999
          },
          "previewToken": {
            "type": "string",
            "maxLength": 4096,
            "description": "The previewToken from POST /upgrade/preview for the same plan, cadence, seats and promotion."
          },
          "promotionCode": {
            "type": "string",
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9]+$"
          }
        }
      },
      "UpgradeResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "newPlan": {
            "type": "string"
          },
          "billingInterval": {
            "type": "string",
            "enum": ["monthly", "yearly"]
          },
          "seats": {
            "type": "integer"
          },
          "activation": {
            "type": "string",
            "enum": ["webhook_pending"],
            "description": "Stripe has charged; the plan is written when its subscription event arrives, usually within seconds."
          }
        }
      },
      "UpgradePaymentActionRequired": {
        "type": "object",
        "description": "The bank asked for authentication. Finish the payment at paymentUrl, or confirm clientSecret with Stripe.js, before the plan activates.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "paymentActionRequired": {
            "type": "boolean",
            "enum": [true]
          },
          "message": {
            "type": "string"
          },
          "paymentUrl": {
            "type": "string",
            "format": "uri"
          },
          "clientSecret": {
            "type": "string"
          }
        }
      },
      "DeviceLinkRequest": {
        "type": "object",
        "required": ["device_id", "device_type"],
        "properties": {
          "device_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Unique device identifier"
          },
          "device_name": {
            "type": "string",
            "maxLength": 200,
            "description": "Human-readable device name"
          },
          "device_type": {
            "type": "string",
            "enum": ["desktop", "mobile", "web"],
            "description": "Type of device"
          },
          "device_fingerprint": {
            "type": "string",
            "description": "Optional device fingerprint used to prevent unauthorized polling",
            "maxLength": 255
          }
        }
      },
      "DeviceCode": {
        "type": "object",
        "required": ["link_code", "device_id", "verify_url", "expires_at"],
        "properties": {
          "link_code": {
            "type": "string",
            "description": "The code the user should approve"
          },
          "device_id": {
            "type": "string",
            "description": "Device identifier associated with this code"
          },
          "verify_url": {
            "type": "string",
            "format": "uri",
            "description": "URL where user can verify the device"
          },
          "expires_at": {
            "type": "integer",
            "description": "Unix timestamp (seconds) when code expires"
          },
          "qr_code_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "Optional QR code URL"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User email address"
          },
          "subscription": {
            "type": "object",
            "properties": {
              "plan_tier": {
                "type": "string",
                "enum": ["free", "basic", "pro", "max", "max_15x", "team", "enterprise"]
              },
              "status": {
                "type": "string",
                "enum": ["active", "trialing", "past_due", "canceled"]
              },
              "current_period_end": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "description": "OpenAI-shaped error envelope returned by the inference endpoints.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": ["invalid_request_error", "insufficient_quota", "api_error", "server_error"]
              },
              "code": {
                "type": "string",
                "nullable": true
              },
              "resets_at": {
                "type": "string",
                "format": "date-time",
                "description": "On a plan-limit refusal, when the refusing window resets: the oldest usage leaving a rolling 5-hour or weekly window, the end of the billing period, or the start of the next month for a monthly allowance."
              },
              "alternative_model": {
                "type": "string",
                "description": "On a plan-limit refusal, a model the caller's plan can use now: a standard model when a flagship limit refused, or a free-pool model when a usage window or the billing period refused. Absent when none is eligible."
              }
            }
          }
        }
      },
      "RateLimitError": {
        "type": "object",
        "description": "Body of a 429. `retry_after_seconds` mirrors the `Retry-After` header; see docs/standards/api-rate-limits.md for the per-endpoint ceilings.",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["RATE_LIMIT_EXCEEDED"]
              },
              "message": {
                "type": "string"
              },
              "retry_after_seconds": {
                "type": "integer"
              },
              "reset_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "rateLimit": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "remaining": {
                "type": "integer"
              },
              "reset": {
                "type": "string",
                "format": "date-time"
              },
              "reset_at": {
                "type": "string",
                "format": "date-time"
              },
              "retry_after_seconds": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Model": {
        "type": "object",
        "description": "OpenAI-compatible model record, extended with the catalog fields a router needs.",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": ["model"]
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string",
            "description": "Provider that serves the model."
          },
          "permission": {
            "type": "array",
            "items": {}
          },
          "root": {
            "type": "string"
          },
          "parent": {
            "type": "string",
            "nullable": true
          },
          "tier": {
            "type": "string",
            "enum": ["free", "basic", "pro", "max"],
            "description": "Lowest plan that may select this model."
          },
          "context_window": {
            "type": "integer"
          },
          "max_output": {
            "type": "integer"
          },
          "image_detail": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["auto", "low", "high", "original"]
            },
            "description": "The image `detail` values this model accepts, from the model registry. Present only on models the registry records; a model without it accepts `auto`, `low` and `high`."
          },
          "capabilities": {
            "type": "object",
            "description": "What the model accepts and produces, from the model registry. `null` means the registry has no verified answer.",
            "properties": {
              "image_input": {
                "type": "boolean",
                "nullable": true
              },
              "audio_input": {
                "type": "boolean",
                "nullable": true
              },
              "video_input": {
                "type": "boolean",
                "nullable": true
              },
              "structured_output": {
                "type": "boolean",
                "nullable": true
              },
              "function_calling": {
                "type": "boolean",
                "nullable": true
              },
              "reasoning": {
                "type": "boolean",
                "nullable": true
              }
            }
          },
          "deprecation_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "The day this model stops being served, published while it is still listed so callers can move before then. `null` when no retirement is scheduled."
          }
        }
      },
      "ModelList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["list"]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          },
          "x_agi_workforce": {
            "type": "object",
            "properties": {
              "user_tier": {
                "type": "string"
              },
              "total_available": {
                "type": "integer"
              },
              "allowed_auto_modes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "routing_profiles": {
                "type": "array",
                "description": "The values `routing_profile` accepts on chat completions, with the label and description a picker can show.",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "enum": ["auto", "speed", "quality", "cost"]
                    },
                    "label": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": ["model", "messages"],
        "properties": {
          "model": {
            "type": "string",
            "description": "A model id from GET /llm/v1/models, or an auto mode from `x_agi_workforce.allowed_auto_modes`."
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["role", "content"],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["system", "user", "assistant", "tool", "function"]
                },
                "content": {
                  "description": "A string, or the OpenAI content-part array (`text`, `image_url`, `file`). An `image_url` part may set `detail` to `auto`, `low` or `high`, or to `original` on a model the registry lists for original-resolution image inspection (listed in `image_detail` by `GET /llm/v1/models`). A detail value the model does not accept answers 400 `image_detail_unsupported`.",
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  ]
                },
                "name": {
                  "type": "string"
                },
                "tool_calls": {
                  "type": "array",
                  "maxItems": 32,
                  "items": {
                    "type": "object"
                  }
                },
                "tool_call_id": {
                  "type": "string",
                  "maxLength": 256
                }
              }
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Streams the answer as server-sent `chat.completion.chunk` events. Besides the OpenAI fields, a chunk's `choices[].delta` may carry these extensions: `x_tool_status` ({`type`, `name`, `status` of `running`, `completed` or `failed`, and on `running` an optional `status_phrase` and the parsed `args`}) for each tool call; `x_agent_event`, a versioned envelope ({`schemaVersion`, `sessionId`, `turnId`, `sequence`, `emittedAtMs`, `event`}) for agent steps, approvals and tool progress; `x_search_results` with the sources a web search returned; `x_tool_result` ({`tool_call_id`, `name`, `content`, `is_error`}) once a tool has run, with `content` the text the model receives; and `x_generated_files` ({`files`}) when the turn created a file. When a connector tool needs the user to connect or reconnect an account, its `x_tool_result` has `is_error` true and `content` a JSON object: {`agi_connector_authorization_required`: true, `connectorId`, `connectorName`, `toolName`, `reason` (`not_connected`, `authorization_expired`, `insufficient_scope` or `authorization_unavailable`), `connectUrl`, `scopes`, `message`}. `connectUrl` is a path on the server's origin, such as `/api/connectors/oauth/start?connectorId=<connectorId>`: resolve it against the server URL and open it in a browser where the user is signed in, then send the request again to continue. It is null when this deployment cannot connect that connector. A client that does not know an extension can ignore it."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "description": "Only 1 is supported, because each request returns one completion. A larger value answers 400 `unsupported_parameter`."
          },
          "seed": {
            "type": "integer",
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`."
          },
          "stop": {
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 64000
          },
          "max_completion_tokens": {
            "type": "integer",
            "minimum": 1,
            "maximum": 64000
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`."
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2,
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`."
          },
          "logit_bias": {
            "type": "object",
            "description": "Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`.",
            "additionalProperties": {
              "type": "number",
              "minimum": -100,
              "maximum": 100
            }
          },
          "user": {
            "type": "string",
            "description": "An opaque identifier for your end user, passed to providers that accept one for abuse monitoring. Do not send names or email addresses. Forwarded to the provider when the serving model accepts it; a model that does not answers 400 `unsupported_parameter` naming it. `/llm/v1/models` lists each model's accepted parameters as `request_parameters`."
          },
          "tools": {
            "type": "array",
            "maxItems": 64,
            "items": {
              "type": "object"
            }
          },
          "tool_choice": {
            "description": "`none`, `auto`, `required`, or a named function."
          },
          "response_format": {
            "type": "object",
            "description": "`text`, `json_object` and `json_schema` are honoured. `json_object` and `json_schema` need `stream: false`, because the reply is validated before it is returned. With `json_schema` the reply is checked against the schema, and a reply that does not satisfy it answers 502 `json_schema_not_satisfied` rather than returning unvalidated output. It works with image input on any model the registry marks for both vision and structured output; a model without structured output answers 400 `model_no_structured_output`. When the registry marks the serving model for structured output and its provider offers a native JSON mode, the request also asks the provider for that mode.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["text", "json_object", "json_schema"]
              },
              "json_schema": {
                "type": "object",
                "required": ["name", "schema"],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 64,
                    "pattern": "^[A-Za-z0-9_-]+$"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000
                  },
                  "schema": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "A JSON Schema whose root has type `object`. Supported keywords: type, properties, required, additionalProperties, items, enum, const, anyOf, $defs and local $ref, minimum, maximum, minLength, maxLength, minItems, maxItems, pattern, format, description, title and default. Any other keyword is refused with 400."
                  },
                  "strict": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "memory_enabled": {
            "type": "boolean",
            "description": "Whether this request may read the memories saved in your account. A request made with an API key reads none unless this is `true`, and it never saves new memories or searches past chats. Has no effect while Memory is off in your account settings."
          },
          "web_search": {
            "type": "boolean",
            "description": "Runs a hosted web search for this turn and cites what it found. When omitted, search turns on if the prompt asks to search or the task is research; `false` keeps it off. Each search is charged as Agentic search."
          },
          "research": {
            "type": "boolean",
            "description": "Runs Deep Research: the model plans, searches and reads many sources before it writes a cited report. A model that cannot run research answers the request normally instead. Searches are billed as Agentic search."
          },
          "research_sources": {
            "type": "object",
            "description": "What a Deep Research run may read when `research` is true. `allow_domains` and `deny_domains` also apply to ordinary `web_search`: they are passed to the search backend as its domain filter and every result is checked against them before the model sees it, so a page outside the allowed sites or on a denied one is never returned. `files` applies only to Deep Research.",
            "properties": {
              "files": {
                "type": "boolean",
                "description": "Also search the documents indexed in your account."
              },
              "allow_domains": {
                "type": "array",
                "maxItems": 32,
                "items": {
                  "type": "string",
                  "maxLength": 253
                },
                "description": "Only read and cite pages on these sites, for example `nature.com`."
              },
              "deny_domains": {
                "type": "array",
                "maxItems": 32,
                "items": {
                  "type": "string",
                  "maxLength": 253
                },
                "description": "Never read or cite pages on these sites."
              },
              "connectors": {
                "type": "array",
                "maxItems": 8,
                "items": {
                  "type": "string",
                  "maxLength": 200
                },
                "description": "Connected apps to search for the run's planned questions, by connector id. An app is read through the MCP `search` and `fetch` tools deep research servers expose; one that offers no `search` tool, or is not connected to your account, is named in the report as not searched. Applies only to Deep Research."
              }
            }
          },
          "research_resume": {
            "type": "object",
            "description": "Continues a Deep Research run that stopped for its plan to be approved, or that failed or was stopped. Applies only when `research` is true.",
            "properties": {
              "sources": {
                "type": "array",
                "maxItems": 100,
                "description": "Sources the run had already gathered, so they are not fetched again.",
                "items": {
                  "type": "object",
                  "required": ["url"],
                  "properties": {
                    "url": { "type": "string", "format": "uri", "maxLength": 2000 },
                    "title": { "type": "string", "maxLength": 500 },
                    "snippet": { "type": "string", "maxLength": 2000 },
                    "retrieved_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the run first retrieved this source, so the resumed run keeps that date instead of the time it resumed."
                    }
                  }
                }
              },
              "steps": {
                "type": "array",
                "maxItems": 50,
                "description": "The plan the run proposed.",
                "items": {
                  "type": "object",
                  "required": ["id", "type", "description", "status"],
                  "properties": {
                    "id": { "type": "string", "maxLength": 100 },
                    "type": {
                      "type": "string",
                      "enum": ["search", "read", "analyze", "synthesize", "verify"]
                    },
                    "description": { "type": "string", "maxLength": 500 },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "running", "completed", "failed"]
                    }
                  }
                }
              },
              "approved_steps": {
                "type": "array",
                "maxItems": 50,
                "description": "The plan to run, as you approved or edited it. The run follows these steps instead of the proposed ones.",
                "items": {
                  "type": "object",
                  "required": ["id", "type", "description", "status"],
                  "properties": {
                    "id": { "type": "string", "maxLength": 100 },
                    "type": {
                      "type": "string",
                      "enum": ["search", "read", "analyze", "synthesize", "verify"]
                    },
                    "description": { "type": "string", "maxLength": 500 },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "running", "completed", "failed"]
                    }
                  }
                }
              },
              "guidance": {
                "type": "string",
                "maxLength": 2000,
                "description": "Guidance for the rest of the run, sent when it resumes. It is added to the plan as a step and the searches still to run are re-planned to follow it."
              },
              "deliverable": {
                "type": "object",
                "description": "What the finished report should be.",
                "properties": {
                  "depth": { "type": "string", "enum": ["executive-summary", "full-report"] },
                  "format": {
                    "type": "string",
                    "enum": ["prose", "prose-with-tables", "bullet-brief"]
                  },
                  "minSources": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 40,
                    "description": "Distinct sources the run must have before it finishes; 0 sets no floor."
                  },
                  "stopWhenNoNewSources": {
                    "type": "boolean",
                    "description": "Stop gathering once a round finds no new source."
                  },
                  "saveToLibrary": {
                    "type": "boolean",
                    "description": "Also keep the finished report in your Library."
                  }
                }
              }
            }
          },
          "personalization": {
            "type": "boolean",
            "description": "`false` answers without your account's personalization: no custom instructions, profile or response style, and no memory is read or saved for this request. Omitted or `true` keeps the default."
          },
          "web_fetch": {
            "type": "boolean",
            "description": "Lets the model open a web page or document named in the conversation and read it. Web pages, plain text, Markdown, JSON, PDFs and Word, Excel or PowerPoint files are read as text; images, audio and video are refused. When omitted on a streamed request, it turns on if the prompt asks to open a link."
          },
          "code_execution": {
            "type": "boolean",
            "description": "Offers the model code execution for this turn. When omitted on a streamed request, it turns on if the prompt asks to run code or analyse data. The sandbox file tools (`read_file`, `write_file`, `edit_file`) run only where this deployment has sandbox execution enabled; elsewhere the tool answers that they are unavailable."
          },
          "office_creation": {
            "type": "boolean",
            "description": "Offers the model a tool that creates a downloadable `docx`, `pptx`, `xlsx`, `pdf` or `csv` file. A streamed response announces each file in an `x_generated_files` delta. When omitted on a streamed request, it turns on if the prompt asks to create one of those files."
          },
          "connector_tools_enabled": {
            "type": "boolean",
            "description": "A request made with an API key can use the connectors connected to the account. The model sees their tools by name and loads a tool's schema on demand with `load_connector_tools`, by exact name or by a keyword query that returns the best matches with their descriptions. A connector call that needs approval pauses the run, and `POST /llm/v1/chat/completions/approve` resumes it. `false` offers no connector tools for this turn."
          },
          "disabled_connector_ids": {
            "type": "array",
            "maxItems": 64,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Connector ids whose tools are not offered for this turn."
          },
          "skill_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Runs this turn with one of the skills your account can use, named as it appears in Settings > Skills (for example `document-creation`). The model loads the skill before it answers. Answers 422 with `skill_not_found` when the skill is not installed for your account, `skill_model_unsupported` when the chosen model cannot use tools, and `skill_requirements_unmet` when the skill needs a tool or connector that is off for this turn."
          },
          "routing_profile": {
            "type": "string",
            "enum": ["auto", "speed", "quality", "cost"],
            "description": "How Auto chooses a model when `model` is `auto`. `speed` routes to the quickest models your plan includes, `quality` to the most capable one your plan allows (a plan's ceiling still applies, so Pro is served its best balanced model), and `cost` to the lowest-cost model that can handle the task. `auto`, or leaving it out, lets Auto decide per message. Ignored when `model` names a specific model. Workspace model policy, data residency and the training opt-out still limit every choice."
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "OpenAI-compatible completion. When `stream` is true the response is `text/event-stream` of `chat.completion.chunk` events terminated by `data: [DONE]` instead.",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": ["chat.completion"]
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": ["assistant"]
                    },
                    "content": {
                      "type": "string",
                      "nullable": true
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "finish_reason": {
                  "type": "string"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "completion_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              },
              "cache_creation_input_tokens": {
                "type": "integer",
                "nullable": true
              },
              "cache_read_input_tokens": {
                "type": "integer",
                "nullable": true
              }
            }
          },
          "x_agi_workforce": {
            "type": "object",
            "description": "Gateway metadata: the provider that served the turn and the routing decision behind it."
          }
        }
      },
      "EmbeddingsRequest": {
        "type": "object",
        "required": ["input"],
        "properties": {
          "input": {
            "description": "One string, or a batch of at most 100, each at most 32000 characters.",
            "oneOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 32000
              },
              {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 32000
                }
              }
            ]
          },
          "model": {
            "type": "string",
            "maxLength": 200
          },
          "encoding_format": {
            "type": "string",
            "enum": ["float"],
            "description": "`base64` is rejected, not ignored, a caller expecting base64 must not receive floats."
          },
          "user": {
            "type": "string",
            "maxLength": 200
          }
        }
      },
      "EmbeddingsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["list"]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "enum": ["embedding"]
                },
                "index": {
                  "type": "integer"
                },
                "embedding": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              }
            }
          },
          "model": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            }
          }
        }
      },
      "RoutePreviewRequest": {
        "type": "object",
        "required": ["taskType"],
        "properties": {
          "selection": {
            "type": "string",
            "maxLength": 200,
            "description": "Model key or Auto alias to preview. Defaults to the Auto policy's default alias."
          },
          "taskType": {
            "type": "string",
            "maxLength": 64,
            "description": "A routing task type from the Auto policy."
          },
          "conversationId": {
            "type": "string",
            "maxLength": 200,
            "description": "When given, the conversation's served route affinity informs the preview."
          },
          "capabilitiesInUse": {
            "type": "array",
            "maxItems": 16,
            "items": {
              "type": "string"
            },
            "description": "Intrinsic capability names from the model registry the conversation relies on. A route observed failing one is excluded."
          }
        }
      },
      "RoutePreviewResponse": {
        "type": "object",
        "required": ["selected", "candidates", "excluded", "liveRequestExecuted"],
        "properties": {
          "selected": {
            "type": "object",
            "additionalProperties": true,
            "description": "The Auto route decision for the request."
          },
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["routeId", "modelKey", "providerId", "admitted", "score", "reasons"],
              "properties": {
                "routeId": {
                  "type": "string"
                },
                "modelKey": {
                  "type": "string"
                },
                "providerId": {
                  "type": "string"
                },
                "admitted": {
                  "type": "boolean"
                },
                "score": {
                  "type": "object",
                  "additionalProperties": true
                },
                "reasons": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "excluded": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["reason"],
              "properties": {
                "slotId": {
                  "type": "string"
                },
                "modelKey": {
                  "type": "string"
                },
                "reason": {
                  "type": "string"
                }
              }
            }
          },
          "liveRequestExecuted": {
            "type": "boolean",
            "description": "Always false: a preview never reaches a provider."
          }
        }
      },
      "CreditBalance": {
        "type": "object",
        "description": "Percentage-only managed-usage status. Ledger units and allocations never cross this boundary.",
        "properties": {
          "object": {
            "type": "string",
            "enum": ["credit_balance"]
          },
          "subscription": {
            "type": "object",
            "properties": {
              "plan_tier": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "current_period_end": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          },
          "credits": {
            "type": "object",
            "properties": {
              "usage_percentage": {
                "type": "number"
              },
              "reset_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "seconds_until_reset": {
                "type": "integer"
              },
              "has_usage_remaining": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ManagedUsageSummary": {
        "type": "object",
        "description": "Percentage-only managed-usage summary across every rolling window. Ledger units and allocations never cross this boundary.",
        "required": [
          "plan_tier",
          "usage_percentage",
          "usage_reset_at",
          "has_usage_remaining",
          "period_start",
          "period_end",
          "subscription_status",
          "session_usage_percentage",
          "session_reset_at",
          "weekly_usage_percentage",
          "weekly_reset_at",
          "flagship_weekly_usage_percentage",
          "flagship_weekly_reset_at"
        ],
        "properties": {
          "plan_tier": {
            "type": "string"
          },
          "subscription_status": {
            "type": "string"
          },
          "usage_percentage": {
            "type": "number"
          },
          "usage_reset_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "has_usage_remaining": {
            "type": "boolean"
          },
          "period_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "period_end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "session_usage_percentage": {
            "type": "number"
          },
          "session_reset_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "weekly_usage_percentage": {
            "type": "number"
          },
          "weekly_reset_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "flagship_weekly_usage_percentage": {
            "type": "number"
          },
          "flagship_weekly_reset_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "credit_balance_cents": {
            "type": "integer",
            "nullable": true
          },
          "overage_enabled": {
            "type": "boolean"
          }
        }
      },
      "LiveVoiceSessionRequest": {
        "type": "object",
        "required": ["sdp"],
        "properties": {
          "sdp": {
            "type": "string",
            "maxLength": 65536,
            "description": "The caller's WebRTC offer."
          },
          "voice": {
            "type": "string",
            "maxLength": 64,
            "nullable": true,
            "description": "Voice name. An unknown name falls back to the default voice."
          },
          "conversationId": {
            "type": "string",
            "maxLength": 128,
            "nullable": true,
            "description": "Conversation the session belongs to. Used only to fingerprint the reservation."
          }
        }
      },
      "LiveVoiceSessionSettlement": {
        "type": "object",
        "description": "Reservation handle for the session. Return it verbatim when closing the session; without it the reservation is only released when its lease expires.",
        "required": [
          "idempotencyKey",
          "leaseToken",
          "requestHash",
          "estimatedCostCents",
          "ceilingSeconds"
        ],
        "properties": {
          "idempotencyKey": {
            "type": "string"
          },
          "leaseToken": {
            "type": "string"
          },
          "requestHash": {
            "type": "string"
          },
          "estimatedCostCents": {
            "type": "integer"
          },
          "ceilingSeconds": {
            "type": "integer",
            "description": "Seconds the reservation covers. A close report is billed at this ceiling at most."
          }
        }
      },
      "LiveVoiceSession": {
        "type": "object",
        "required": ["sessionId", "sdp", "settlement"],
        "properties": {
          "sessionId": {
            "type": "string"
          },
          "sdp": {
            "type": "string",
            "description": "The WebRTC answer to apply."
          },
          "settlement": {
            "$ref": "#/components/schemas/LiveVoiceSessionSettlement"
          }
        }
      },
      "LiveVoiceSessionCloseRequest": {
        "type": "object",
        "required": ["seconds", "settlement"],
        "properties": {
          "seconds": {
            "type": "number",
            "minimum": 0,
            "maximum": 86400,
            "description": "Seconds the session ran. Billed seconds are this rounded up, capped at the reserved ceiling."
          },
          "reason": {
            "type": "string",
            "maxLength": 64
          },
          "backend": {
            "type": "object",
            "description": "What the delegated backend model spent during the session. Omit it when the session delegated nothing; the session itself still settles.",
            "properties": {
              "model": {
                "type": "string",
                "maxLength": 128
              },
              "inputTokens": {
                "type": "integer",
                "minimum": 0
              },
              "outputTokens": {
                "type": "integer",
                "minimum": 0
              },
              "cachedTokens": {
                "type": "integer",
                "minimum": 0
              },
              "webSearchCalls": {
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "settlement": {
            "$ref": "#/components/schemas/LiveVoiceSessionSettlement"
          }
        }
      },
      "LiveVoiceSessionClose": {
        "type": "object",
        "required": ["billedSeconds", "actualCostCents"],
        "properties": {
          "billedSeconds": {
            "type": "integer"
          },
          "actualCostCents": {
            "type": "integer"
          }
        }
      },
      "AccountUsageTotals": {
        "type": "object",
        "required": ["requests", "inputTokens", "outputTokens", "credits"],
        "properties": {
          "requests": {
            "type": "integer"
          },
          "inputTokens": {
            "type": "integer"
          },
          "outputTokens": {
            "type": "integer"
          },
          "credits": {
            "type": "number",
            "description": "Credits charged, to two decimal places"
          }
        }
      },
      "AccountUsageBreakdownRow": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AccountUsageTotals"
          },
          {
            "type": "object",
            "required": ["key", "label"],
            "properties": {
              "key": {
                "type": "string",
                "description": "Workload, model id or project id"
              },
              "label": {
                "type": ["string", "null"]
              }
            }
          }
        ]
      },
      "AccountUsageHistory": {
        "type": "object",
        "required": [
          "from",
          "to",
          "granularity",
          "totals",
          "periods",
          "byWorkload",
          "byModel",
          "byProject",
          "freshness"
        ],
        "properties": {
          "userId": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          },
          "granularity": {
            "type": "string",
            "enum": ["day", "week", "month"]
          },
          "totals": {
            "$ref": "#/components/schemas/AccountUsageTotals"
          },
          "periods": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["start", "requests", "credits"],
              "properties": {
                "start": {
                  "type": "string",
                  "format": "date-time"
                },
                "requests": {
                  "type": "integer"
                },
                "credits": {
                  "type": "number"
                }
              }
            }
          },
          "byWorkload": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountUsageBreakdownRow"
            },
            "description": "Usage by product area, including research"
          },
          "byModel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountUsageBreakdownRow"
            }
          },
          "byProject": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountUsageBreakdownRow"
            },
            "description": "Usage by project; turns outside a project are not included"
          },
          "freshness": {
            "type": "object",
            "required": ["asOf", "latestActivityAt", "unsettledRequests"],
            "properties": {
              "asOf": {
                "type": "string",
                "format": "date-time"
              },
              "latestActivityAt": {
                "type": ["string", "null"],
                "format": "date-time"
              },
              "unsettledRequests": {
                "type": "integer"
              }
            }
          }
        }
      },
      "WorkspaceApiError": {
        "type": "object",
        "description": "Error envelope of the workspace administration and account settings endpoints. `error.code` is stable and `error.message` is safe to show. A browser session whose write fails the CSRF check gets `error` as a string and `code` beside it.",
        "required": ["error"],
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "object",
                "required": ["code", "message"],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "For example `VALIDATION_ERROR`, `UNAUTHORIZED`, `FORBIDDEN`, `IP_NOT_ALLOWED`, `SUBSCRIPTION_REQUIRED`, `NOT_FOUND`, `CONFLICT`, `TIMEOUT` or `SERVICE_UNAVAILABLE`."
                  },
                  "message": {
                    "type": "string"
                  },
                  "details": {
                    "description": "The fields a 400 rejected, when the request failed validation.",
                    "nullable": true
                  }
                }
              },
              {
                "type": "string"
              }
            ]
          },
          "code": {
            "type": "string",
            "description": "`CSRF_VALIDATION_FAILED` when a browser session sent no valid `x-csrf-token`."
          },
          "requestId": {
            "type": "string"
          }
        }
      },
      "WorkspaceMember": {
        "type": "object",
        "required": ["userId", "email", "name", "role", "status", "joinedAt", "provisioningSource"],
        "properties": {
          "userId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": ["owner", "admin", "member", "viewer"]
          },
          "status": {
            "type": "string",
            "enum": ["invited", "active", "suspended", "deprovisioned"]
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          },
          "provisioningSource": {
            "type": "string",
            "nullable": true,
            "description": "How the membership was created, for example `manual`, `invitation` or `scim`. A SCIM-provisioned member is managed by the directory."
          }
        }
      },
      "WorkspaceMemberList": {
        "type": "object",
        "required": ["data", "hasMore", "firstId", "lastId"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether another page follows this one."
          },
          "firstId": {
            "type": "string",
            "nullable": true
          },
          "lastId": {
            "type": "string",
            "nullable": true,
            "description": "Pass as `afterId` to read the next page."
          }
        }
      },
      "WorkspaceMemberRoleUpdate": {
        "type": "object",
        "required": ["role"],
        "additionalProperties": false,
        "properties": {
          "role": {
            "type": "string",
            "enum": ["owner", "admin", "member", "viewer"]
          }
        }
      },
      "WorkspaceMemberRemoval": {
        "type": "object",
        "required": ["userId", "removed", "previousRole", "revoked", "warnings"],
        "properties": {
          "userId": {
            "type": "string"
          },
          "removed": {
            "type": "boolean",
            "enum": [true]
          },
          "previousRole": {
            "type": "string",
            "enum": ["owner", "admin", "member", "viewer"]
          },
          "revoked": {
            "type": "object",
            "required": ["sessions", "deviceTokens", "apiKeys"],
            "properties": {
              "sessions": {
                "type": "integer"
              },
              "deviceTokens": {
                "type": "integer"
              },
              "apiKeys": {
                "type": "integer"
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Credentials that could not be revoked. The member is out of the workspace either way."
          }
        }
      },
      "WorkspaceInvitation": {
        "type": "object",
        "required": [
          "id",
          "organizationId",
          "email",
          "role",
          "status",
          "invitedByUserId",
          "expiresAt",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string",
            "enum": ["admin", "member", "viewer"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "accepted", "declined", "revoked", "expired"]
          },
          "invitedByUserId": {
            "type": "string",
            "description": "The member who sent it, or `service_principal:<id>` when a workspace API key did."
          },
          "acceptedByUserId": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "resentAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resendCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorkspaceInvitationList": {
        "type": "object",
        "required": ["data", "hasMore", "firstId", "lastId"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceInvitation"
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "firstId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "lastId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Pass as `afterId` to read the next page."
          }
        }
      },
      "WorkspaceInvitationRequest": {
        "type": "object",
        "required": ["email"],
        "additionalProperties": false,
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 320
          },
          "role": {
            "type": "string",
            "enum": ["admin", "member", "viewer"],
            "default": "member"
          }
        }
      },
      "WorkspaceInvitationCreated": {
        "type": "object",
        "required": ["invitation", "inviteToken", "delivery"],
        "properties": {
          "invitation": {
            "$ref": "#/components/schemas/WorkspaceInvitation"
          },
          "inviteToken": {
            "type": "string",
            "description": "Returned once. It opens the invitation only for the invited address; deliver it yourself when `delivery.emailSent` is false."
          },
          "delivery": {
            "type": "object",
            "required": ["emailSent"],
            "properties": {
              "emailSent": {
                "type": "boolean"
              },
              "reason": {
                "type": "string",
                "description": "Why no email was sent."
              }
            }
          }
        }
      },
      "WorkspaceUsageReport": {
        "type": "object",
        "required": ["data", "hasMore", "nextPage"],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["startingAt", "endingAt", "results"],
              "properties": {
                "startingAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "endingAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "results": {
                  "type": "array",
                  "description": "One row per member with settled usage that day, highest credits first. Empty on a day without usage.",
                  "items": {
                    "type": "object",
                    "required": ["userId", "requests", "inputTokens", "outputTokens", "credits"],
                    "properties": {
                      "userId": {
                        "type": "string"
                      },
                      "requests": {
                        "type": "integer"
                      },
                      "inputTokens": {
                        "type": "integer"
                      },
                      "outputTokens": {
                        "type": "integer"
                      },
                      "credits": {
                        "type": "number",
                        "description": "Credits the usage consumed."
                      }
                    }
                  }
                }
              }
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextPage": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Pass as `page`, with the same `from` and `to`, to read the next day buckets."
          }
        }
      },
      "ScheduleRun": {
        "type": "object",
        "required": ["id", "taskId", "status", "triggerSource", "startedAt", "idempotencyKey"],
        "properties": {
          "id": {
            "type": "string"
          },
          "taskId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["running", "success", "failed", "timeout", "cancelled", "awaiting_approval"]
          },
          "triggerSource": {
            "type": "string",
            "enum": ["schedule", "manual", "webhook", "api"]
          },
          "scheduledFor": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "durationMs": {
            "type": "integer",
            "nullable": true
          },
          "result": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "The run's output, with `text` for the answer and `usage` for what it cost"
          },
          "output": {
            "type": "string",
            "nullable": true,
            "description": "The run's answer, the same text as `result.text`. Null while the run is going, when it failed or was cancelled, and when it only recorded a skip."
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "idempotencyKey": {
            "type": "string"
          },
          "attemptCount": {
            "type": "integer"
          },
          "pendingApproval": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Present while the run waits for the owner's approval: when it was requested, when it expires, and each step it is waiting on"
          }
        }
      },
      "ScheduleRunList": {
        "type": "object",
        "required": ["runs"],
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScheduleRun"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ScheduleRunStarted": {
        "type": "object",
        "required": ["run", "replay"],
        "properties": {
          "run": {
            "$ref": "#/components/schemas/ScheduleRun"
          },
          "replay": {
            "type": "boolean",
            "description": "True when this Idempotency-Key had already started the run"
          }
        }
      },
      "ToolApprovalDecision": {
        "type": "object",
        "required": ["tool_call_id", "decision"],
        "properties": {
          "tool_call_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "The `toolCallId` of an `approval-requested` event"
          },
          "decision": {
            "type": "string",
            "enum": ["approved", "rejected"]
          }
        }
      },
      "ToolApprovalResumeRequest": {
        "type": "object",
        "required": ["run_id", "tool_approvals"],
        "properties": {
          "run_id": {
            "type": "string",
            "format": "uuid",
            "description": "The `X-AGI-Agent-Run-Id` header of the stream that paused"
          },
          "tool_approvals": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "items": {
              "$ref": "#/components/schemas/ToolApprovalDecision"
            },
            "description": "One decision per paused call. Every pending call of the run must be answered."
          },
          "guidance": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000,
            "description": "Optional text the agent reads before it continues, for example what to do instead of a denied call. Guidance that contains a secret is refused with 400."
          },
          "detached": {
            "type": "boolean",
            "description": "`true` when the caller will not read the stream. The run then finishes even if the connection closes; follow it at the `X-AGI-Agent-Run-URL` response header. Omitted or `false` stops the run when the connection closes."
          }
        }
      },
      "PausedRunResumeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "guidance": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000,
            "description": "Optional text the agent reads before it continues."
          }
        }
      },
      "ToolInputResumeRequest": {
        "type": "object",
        "required": ["run_id", "tool_inputs"],
        "properties": {
          "run_id": {
            "type": "string",
            "format": "uuid"
          },
          "tool_inputs": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "items": {
              "type": "object",
              "required": ["tool_call_id", "input_responses"],
              "properties": {
                "tool_call_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "input_responses": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "The answers the connector asked for, passed to it verbatim. At most 16,000 characters once serialized."
                }
              }
            }
          },
          "guidance": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "detached": {
            "type": "boolean",
            "description": "`true` when the caller will not read the stream. The run then finishes even if the connection closes; follow it at the `X-AGI-Agent-Run-URL` response header. Omitted or `false` stops the run when the connection closes."
          }
        }
      },
      "DeviceStepResumeRequest": {
        "type": "object",
        "required": ["run_id", "device_id", "device_results"],
        "properties": {
          "run_id": {
            "type": "string",
            "format": "uuid"
          },
          "device_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Must be the device the step was issued to"
          },
          "device_results": {
            "type": "array",
            "minItems": 1,
            "maxItems": 8,
            "items": {
              "type": "object",
              "required": ["tool_call_id", "content", "is_error"],
              "properties": {
                "tool_call_id": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "content": {
                  "type": "string",
                  "maxLength": 24000
                },
                "is_error": {
                  "type": "boolean"
                },
                "image": {
                  "type": "object",
                  "required": ["base64", "mime_type"],
                  "properties": {
                    "base64": {
                      "type": "string",
                      "maxLength": 2500000
                    },
                    "mime_type": {
                      "type": "string",
                      "enum": ["image/png", "image/jpeg"]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ConnectorCall": {
        "type": "object",
        "required": ["connectorId", "toolName", "outcome", "durationMs", "occurredAt"],
        "properties": {
          "connectorId": {
            "type": "string"
          },
          "toolName": {
            "type": "string"
          },
          "outcome": {
            "type": "string",
            "enum": ["succeeded", "failed", "blocked"]
          },
          "durationMs": {
            "type": "integer",
            "nullable": true
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ConnectorToolPermission": {
        "type": "object",
        "required": ["connectorId", "toolName", "level"],
        "properties": {
          "connectorId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "toolName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "level": {
            "type": "string",
            "enum": ["allow", "ask", "deny"],
            "description": "`allow` runs the tool without asking, `ask` asks every time, `deny` never runs it. A saved `allow` still asks when the call would send private data out after reading untrusted content."
          }
        }
      }
    },
    "headers": {
      "XQuotaWarning": {
        "description": "Sent when this request is projected to take the account to 80% or more of a usage window. Semicolon-separated fields: level (warning from 80%, critical from 95%), scope (billing_period, rolling_five_hour or rolling_weekly, whichever is fullest), used_percent after this request, and threshold_percent. Absent below 80% and on plans without usage limits.",
        "schema": {
          "type": "string",
          "example": "level=warning; scope=rolling_weekly; used_percent=84; threshold_percent=80"
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/llm/v1/models": {
      "get": {
        "summary": "List available models",
        "description": "Models the caller may select, in OpenAI `/v1/models` shape. Callers with no `Authorization` header get the free catalog; a credential that fails to verify is rejected rather than downgraded to it, so a revoked key never looks like a lost entitlement.",
        "tags": ["Inference"],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          },
          {}
        ],
        "x-agi-api-key-scope": "models:read",
        "responses": {
          "200": {
            "description": "Model list for the caller's tier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelList"
                }
              }
            }
          },
          "401": {
            "description": "Presented credential did not verify",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `models:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/llm/v1/chat/completions": {
      "post": {
        "summary": "Create a chat completion",
        "description": "OpenAI-compatible chat completions, streaming or buffered.\n\nTakes an AGI API key or a session bearer token. A key is always pinned to the `api` client surface regardless of any `x-agi-surface` header, and that surface is gated on the `managed_api` plan capability, so a key on a plan without it answers 403 `managed_api_plan_required`.\n\nWhen a tool call needs the user's approval, a streamed turn emits a chunk whose `choices[0].delta.x_agent_event.event` has `type: \"approval-requested\"` with `approvalId`, `toolCallId`, `name`, `category`, `summary`, `input` and, on a high-risk call, `riskLevel: \"high\"`, then ends. The `X-AGI-Agent-Run-Id` response header names the paused run. Answer it with `POST /llm/v1/chat/completions/approve` within 24 hours.",
        "tags": ["Inference"],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-agi-api-key-scope": "inference:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Required with a session bearer token. Optional with an AGI API key: when it is absent the gateway assigns the request its own key, so a retry is billed as a new request. Reuse a key only to retry the same body. `GET /usage/turns/{requestId}` looks up the credits a request settled at by the key it was sent with.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._:-]{8,128}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completion, or an SSE stream when `stream` is true",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "headers": {
              "X-Quota-Warning": {
                "$ref": "#/components/headers/XQuotaWarning"
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Managed usage exhausted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `inference:write` scope, or the calling plan lacks the capability for the resolved client surface",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "The addressed resource does not exist for this caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "The resource is in a state this operation cannot be applied to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Uploaded payload is larger than this endpoint accepts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Refused by content policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          },
          "499": {
            "description": "Client closed the connection before the response finished streaming",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider returned a response this gateway could not use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "No provider was available to serve the request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "504": {
            "description": "Upstream provider did not answer inside the gateway timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/llm/v1/embeddings": {
      "post": {
        "summary": "Create embeddings",
        "description": "OpenAI-compatible embeddings. Takes a session bearer token only: the route declares no API-key scope, so a key is refused at the auth gate. `Idempotency-Key` is required so a retry settles the reservation once.",
        "tags": ["Inference"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding vectors, indexed to the input batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid embeddings request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Managed usage exhausted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/llm/v1/audio/transcriptions": {
      "post": {
        "summary": "Transcribe audio",
        "description": "OpenAI-compatible transcription. The upload is capped at 25 MB and its first bytes are sniffed, so a declared audio MIME type on non-audio content is rejected.",
        "tags": ["Inference"],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-agi-api-key-scope": "inference:write",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "model": {
                    "type": "string",
                    "description": "A live OpenAI speech-to-text model id. Anything else falls back to the default transcription model."
                  },
                  "language": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription"
          },
          "400": {
            "description": "Missing file or unparseable form data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the `inference:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Audio file exceeds 25 MB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported audio type, or content that is not audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/llm/v1/route/preview": {
      "post": {
        "summary": "Preview an Auto route",
        "description": "Resolves the route Auto would take for a selection and task type under the caller's plan, workspace policy, zero-data-retention posture and observed route health, without executing a request. The same auth gate and rate limits as `POST /chat/completions` apply.",
        "tags": ["Inference"],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-agi-api-key-scope": "inference:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutePreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The selected route, the candidates considered and the routes excluded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutePreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or unknown routing task type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Subscription inactive, workspace policy refused the caller, or the API key lacks the `inference:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/llm/v1/credits/balance": {
      "get": {
        "summary": "Get managed-usage balance",
        "description": "Percentage-only managed-usage status for the calling account, plus when it resets.",
        "tags": ["Inference"],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-agi-api-key-scope": "usage:read",
        "responses": {
          "200": {
            "description": "Usage status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditBalance"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "No subscription record, or the API key lacks the `usage:read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/voice/live/sessions": {
      "post": {
        "summary": "Open a live voice session",
        "description": "Exchanges a WebRTC offer for an answer and opens a live voice session against the `voice_live` routing slot, with the delegated backend on the `voice_live_backend` slot. The session is reserved for a fixed block of minutes before any provider spend, and that reservation is released if the provider never answers. Close the session to settle it.",
        "tags": ["Voice"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "x-agi-api-key-scope": "inference:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveVoiceSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The WebRTC answer, the session id and the reservation handle to settle with",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveVoiceSession"
                }
              }
            }
          },
          "400": {
            "description": "No WebRTC offer, or an offer the schema rejects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "402": {
            "description": "Managed usage is exhausted for the plan window",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Workspace policy, spend limit or model policy refused the caller, the account is not entitled to managed compute, or the API key lacks the `inference:write` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited, or the voice-minute allowance for the plan is spent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
[...]
