openapi: 3.1.0
info:
  title: AGI Workforce API
  description: |
    API for AGI Workforce platform - provides LLM access, subscription management,
    credit tracking, and device linking capabilities.

    ## Authentication

    Most endpoints require authentication via Bearer token:
    ```
    Authorization: Bearer <supabase_access_token>
    ```

    ## Rate Limiting

    All endpoints are rate-limited. Rate limit headers are included in responses:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Remaining requests in window
    - `X-RateLimit-Reset`: Unix timestamp when window resets

    ## Error Handling

    Errors follow a consistent format:
    ```json
    {
      "error": {
        "message": "Human-readable error message",
        "type": "error_type",
        "code": "error_code"
      }
    }
    ```
  version: 1.1.2
  contact:
    name: AGI Workforce Support
    url: https://agiworkforce.com/support
  license:
    name: Proprietary
    url: https://agiworkforce.com/terms

servers:
  - url: https://agiworkforce.com/api
    description: Production API
  - url: http://localhost:3001/api
    description: Local development

tags:
  - name: Health
    description: Service health and status
  - name: User
    description: User profile and account management
  - name: Billing
    description: Subscription and payment management
  - name: LLM
    description: Language model completion API
  - name: Credits
    description: Credit balance and usage tracking
  - name: Device
    description: Device linking and synchronization
  - name: Admin
    description: Administrative endpoints (requires admin role)

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns the health status of the API and its dependencies
      tags:
        - Health
      responses:
        '200':
          description: Service is healthy or degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /me:
    get:
      operationId: getMe
      summary: Get current user
      description: Returns the authenticated user's profile, subscription, and credit balance
      tags:
        - User
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /checkout:
    post:
      operationId: createCheckoutSession
      summary: Create checkout session
      description: Creates a Stripe checkout session for subscription purchase
      tags:
        - Billing
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan
                - billingInterval
              properties:
                plan:
                  type: string
                  enum: [hobby, pro, max]
                  description: The subscription plan to purchase
                billingInterval:
                  type: string
                  enum: [monthly, annual]
                  description: Billing frequency
              example:
                plan: pro
                billingInterval: monthly
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Stripe checkout URL to redirect user to
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /portal:
    post:
      operationId: createPortalSession
      summary: Create billing portal session
      description: Creates a Stripe billing portal session for managing subscription
      tags:
        - Billing
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: Stripe billing portal URL
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No active subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sync-subscription:
    post:
      operationId: syncSubscription
      summary: Sync subscription with Stripe
      description: Manually triggers synchronization of subscription data with Stripe
      tags:
        - Billing
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Subscription synced successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /llm/v1/chat/completions:
    post:
      operationId: createChatCompletion
      summary: Create chat completion
      description: |
        OpenAI-compatible chat completion endpoint. Supports streaming responses.
        Credits are deducted based on token usage.
      tags:
        - LLM
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                type: string
                description: Server-sent events stream for streaming responses
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /llm/v1/models:
    get:
      operationId: listModels
      summary: List available models
      description: Returns a list of available LLM models based on user's subscription tier
      tags:
        - LLM
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of available models
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /llm/v1/credits/balance:
    get:
      operationId: getCreditBalance
      summary: Get credit balance
      description: Returns the user's current credit balance including monthly and daily limits
      tags:
        - Credits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Credit balance retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No active subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /device/link:
    post:
      operationId: createDeviceLink
      summary: Create device linking code
      description: Generates a 6-digit code for linking a new device to the user's account
      tags:
        - Device
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Device link code created
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^\d{6}$'
                    description: 6-digit linking code (expires in 5 minutes)
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /device/poll:
    get:
      operationId: pollDeviceLink
      summary: Poll for device link status
      description: Desktop app polls this endpoint to check if a device link code has been approved
      tags:
        - Device
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{6}$'
          description: The 6-digit linking code
      responses:
        '200':
          description: Link status and tokens if approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending, approved, expired]
                  access_token:
                    type: string
                    description: Only present when status is 'approved'
                  refresh_token:
                    type: string
                    description: Only present when status is 'approved'
        '400':
          description: Invalid or expired code

  /device/approve:
    post:
      operationId: approveDeviceLink
      summary: Approve device link
      description: Approves a pending device link code (called from web app)
      tags:
        - Device
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: Device link approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Invalid or expired code
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/data:
    get:
      operationId: getUserData
      summary: Export user data (GDPR)
      description: Returns all user data in JSON format for GDPR compliance
      tags:
        - User
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User data export
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                  subscription:
                    type: object
                  credit_history:
                    type: array
                    items:
                      type: object
                  conversations:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/security:
    get:
      operationId: getSecurityDashboard
      summary: Get security dashboard
      description: Returns security metrics, alerts, and recent events (admin only)
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          schema:
            type: string
            enum: [dashboard, metrics, alerts, events, user, ips]
            default: dashboard
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
          description: Filter events by severity (for action=events)
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: userId
          in: query
          schema:
            type: string
          description: Required when action=user
      responses:
        '200':
          description: Security data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: User is not an admin

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase access token

  schemas:
    HealthCheck:
      type: object
      required:
        - status
        - timestamp
        - checks
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, unhealthy]
                message:
                  type: string
            stripe:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, unhealthy]
                message:
                  type: string
            environment:
              type: object
              properties:
                status:
                  type: string
                  enum: [healthy, unhealthy]
                missingCount:
                  type: integer

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        avatar_url:
          type: string
          format: uri
          nullable: true
        created_at:
          type: number
          description: Unix timestamp
        updated_at:
          type: number
          description: Unix timestamp
        plan:
          type: object
          properties:
            tier:
              type: string
              enum: [free, hobby, pro, max, enterprise]
            display_name:
              type: string
            status:
              type: string
              enum: [none, active, trialing, past_due, canceled, incomplete]
            current_period_end:
              type: number
              nullable: true
              description: Unix timestamp
        feature_flags:
          type: object
          properties:
            beta_features:
              type: boolean
            advanced_model_access:
              type: boolean
        credits:
          $ref: '#/components/schemas/CreditBalance'

    Subscription:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
          format: uuid
        plan_tier:
          type: string
          enum: [free, hobby, pro, max, enterprise]
        status:
          type: string
          enum: [none, active, trialing, past_due, canceled, incomplete]
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        stripe_subscription_id:
          type: string
          nullable: true

    CreditBalance:
      type: object
      properties:
        object:
          type: string
          enum: [credit_balance]
        subscription:
          type: object
          properties:
            plan_tier:
              type: string
            status:
              type: string
            current_period_end:
              type: string
              format: date-time
        credits:
          type: object
          properties:
            monthly_allocated_cents:
              type: integer
              description: Total monthly credit allocation in cents
            monthly_remaining_cents:
              type: integer
              description: Remaining monthly credits in cents
            monthly_used_cents:
              type: integer
            monthly_reset_at:
              type: string
              format: date-time
            seconds_until_monthly_reset:
              type: integer
            daily_limit_cents:
              type: integer
              description: Daily spending limit (30% of monthly)
            daily_used_cents:
              type: integer
            daily_remaining_cents:
              type: integer
            daily_reset_at:
              type: string
              format: date-time
            seconds_until_daily_reset:
              type: integer
        formatted:
          type: object
          properties:
            monthly_remaining:
              type: string
              example: '$10.50'
            monthly_allocated:
              type: string
            daily_remaining:
              type: string
            daily_limit:
              type: string

    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          description: Model ID (e.g., gpt-4o, claude-sonnet-4-20250514)
        messages:
          type: array
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                enum: [system, user, assistant]
              content:
                type: string
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
        max_tokens:
          type: integer
          minimum: 1
        stream:
          type: boolean
          default: false
        top_p:
          type: number
          minimum: 0
          maximum: 1
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
          description: Unix timestamp
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                type: object
                properties:
                  role:
                    type: string
                    enum: [assistant]
                  content:
                    type: string
              finish_reason:
                type: string
                enum: [stop, length, content_filter]
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer
            cost_cents:
              type: number
              description: Cost of this request in cents

    Model:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          enum: [model]
        created:
          type: integer
        owned_by:
          type: string
        permission:
          type: array
          items:
            type: object
        root:
          type: string
        parent:
          type: string
          nullable: true

    SecurityDashboard:
      type: object
      properties:
        metrics:
          type: object
          properties:
            total_events_24h:
              type: integer
            total_events_7d:
              type: integer
            critical_events_24h:
              type: integer
            high_severity_events_24h:
              type: integer
            unique_ips_24h:
              type: integer
            unique_users_24h:
              type: integer
            by_severity:
              type: object
              additionalProperties:
                type: integer
            by_event_type:
              type: object
              additionalProperties:
                type: integer
        alerts:
          type: array
          items:
            type: object
            properties:
              alert_name:
                type: string
              triggered:
                type: boolean
              current_count:
                type: integer
              threshold:
                type: integer
              window_minutes:
                type: integer
              severity:
                type: string
                enum: [warning, critical]
        recent_critical:
          type: array
          items:
            $ref: '#/components/schemas/SecurityEvent'
        top_ips:
          type: array
          items:
            type: object
            properties:
              ip_address:
                type: string
              event_count:
                type: integer

    SecurityEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
          nullable: true
        event_type:
          type: string
          enum:
            [
              auth_failed,
              rate_limit_exceeded,
              authorization_failed,
              suspicious_activity,
              csrf_validation_failed,
              invalid_signature,
            ]
        severity:
          type: string
          enum: [low, medium, high, critical]
        ip_address:
          type: string
          nullable: true
        user_agent:
          type: string
          nullable: true
        endpoint:
          type: string
          nullable: true
        details:
          type: object
        created_at:
          type: string
          format: date-time

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - message
            - type
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string

  responses:
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: Invalid authentication token
              type: invalid_request_error
              code: invalid_api_key

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: 'Invalid request: plan must be one of hobby, pro, max'
              type: invalid_request_error
              code: validation_error

    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: Rate limit exceeded. Please retry after 60 seconds.
              type: rate_limit_error
              code: rate_limit_exceeded
